<nav id="main-menu">
    <md-content class="md-padding">
        <md-nav-bar md-selected-nav-item="vm.selectedItem" nav-bar-aria-label="main menu navigation links">
            <md-nav-item md-nav-sref="home" name="personal-profile" class="main-menu-items">
                Personal Profile
            </md-nav-item>
            <md-nav-item md-nav-sref="rock-paper-scissors" name="rock-paper-scissors" class="main-menu-items">
                Rock Paper Scissors
            </md-nav-item>
            <md-nav-item md-nav-sref="rock-paper-scissors-lizard-spock" name="rock-paper-scissors-lizard-spock" class="main-menu-items">
                Rock Paper Scissors Lizard Spock
            </md-nav-item>
        </md-nav-bar>
    </md-content>
</nav>