<nav>
    <md-content class="md-padding">
        <md-nav-bar md-no-ink-bar="true" md-selected-nav-item="currentNavItem" nav-bar-aria-label="main menu navigation links">
            <md-nav-item md-nav-href="/" name="page5">
                Personal Profile
            </md-nav-item>
            <md-nav-item md-nav-sref="rock-paper-scissors" name="page4">
                Rock Paper Scissors
            </md-nav-item>
            <md-nav-item md-nav-sref="rock-paper-scissors-lizard-spock" name="page4">
                Rock Paper Scissors Lizard Spock
            </md-nav-item>
        </md-nav-bar>
    </md-content>
</nav>