<section layout="column">

    <!-- default pick choices panel -->
    <md-bottom-sheet class="md-grid choices-menu" hide-xs layout="column">
        <div ng-cloak>
            <md-list flex layout="row" layout-align="center center" class="choices-list">
                <!-- create an item for each item in the passed available choices -->
                <md-list-item class="clear-margin-bottom" flex ng-repeat="item in vm.availableChoices track by $index">
                    <section>
                        <!-- for each item create a button which includes the img of the current item and the label of the current item -->
                        <md-button id="choice-item-{{item.id}}" class="md-grid-item-content" ng-click="vm.chooseAction(item, $event)">
                            <img class="game-choices-icons choice-item-icons" ng-src="assets/images/{{item.id}}.png"></md-icon>
                            <div class="md-grid-text"> {{ item.label | uppercase}} </div>
                        </md-button>
                    </section>
                </md-list-item>
            </md-list>
        </div>
    </md-bottom-sheet>

    <!-- pick choices panel < 960px -->
    <md-bottom-sheet class="md-list choices-menu" hide show-xs>
        <md-list ng-cloak class="choices-list">
            <!-- create an item for each item in the passed available choices -->
            <md-list-item class="clear-margin-bottom" ng-repeat="item in vm.availableChoices track by $index" layout="column" layout-align="center center" layout-wrap>
                <!-- for each item create a button which includes the img of the current item and the label of the current item -->
                <md-button layout="row" layout-align="center center" layout-wrap id="choice-item-{{item.id}}" class="md-list-item-content choice-item-mobile" ng-click="vm.chooseAction(item, $event)">
                    <img flex="20" class="game-choices-icons game-choices-icons-mobile choice-item-icons" ng-src="assets/images/{{item.id}}.png"></img>
                    <span flex="80" layout-align="start center" class="md-inline-list-icon-label label-choices-mobile">{{ item.label | uppercase}}</span>
                </md-button>
            </md-list-item>
        </md-list>
    </md-bottom-sheet>

</section>