<section>
    <section>
        <main-menu active-item="'Personal Profile'"></main-menu>
    </section>
    <article class="md-padding">
        <header>
            Personal Profile Page
        </header>
        <section>
            <main>
                <article id="num-of-matches">
                    <label>Total matches: {{vm.numOfMatches}}</label>
                </article>
                <article id="num-of-victories">
                    <label>Total victories: {{vm.numOfVictories}}</label>
                </article>
                <article id="num-of-loses">
                    <label>Total loses: {{vm.numOfLoses}}</label>
                </article>
                <article id="num-of-draws">
                    <label>Total draws: {{vm.numOfDraws}}</label>
                </article>
                <article id="consecutive-num-of-victories">
                    <label>Consecutive victories: {{vm.numOfConsecutiveVictories}}</label>
                </article>
                <article id="consecutive-num-of-loses">
                    <label>Consecutive loses: {{vm.numOfConsecutiveLoses}}</label>
                </article>
                <article id="consecutive-num-of-draws">
                    <label>Consecutive draws: {{vm.numOfConsecutiveDraws}}</label>
                </article>
            </main>
        </section>
    </article>
</section>