<section>
    <section>
        <main-menu active-item="'Personal Profile'"></main-menu>
    </section>
    <article class="md-padding">
        <header>
            Personal Profile Page
        </header>
        <section>
            <main>
                <label for="num-of-matches">Total matches:</label>
                <article id="num-of-matches">{{vm.numOfMatches}}</article>
                
                <label for="num-of-victories"></label>
                <article id="num-of-victories"></article>

                <label for="num-of-loses"></label>
                <article id="num-of-loses"></article>
                
                <label for="num-of-draws"></label>
                <article id="num-of-draws"></article>
                
                <label for="consecutive-num-of-victories"></label>
                <article id="consecutive-num-of-victories"></article>
                
                <label for="consecutive-num-of-loses"></label>
                <article id="consecutive-num-of-loses"></article>

                <label for="consecutive-num-of-draws"></label>
                <article id="consecutive-num-of-draws"></article>
            </main>
        </section>
    </article>
</section>