[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
html,
body {
  background: #30b87d;
  overflow-y: auto;
}
.main-game-container {
  background: #30b87d;
}
.page-main-title {
  color: #eee;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.personal-profile-scores {
  background: #fff;
  border-radius: 3%;
  opacity: 0.95;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
.scores-values {
  font-weight: bold;
}
.win-scores {
  color: green;
}
.lose-scores {
  color: red;
}
.draw-scores {
  color: orange;
}
.fill-all-height {
  height: 100%;
}
.fill-all {
  height: 100%;
  width: 100%;
}
md-bottom-sheet.md-grid {
  padding: 5px 12px;
}
md-bottom-sheet.md-grid md-list-item {
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
}
.game-choices-icons {
  width: 64px;
  height: 64px;
}
.icon-not-chosen-yet {
  background: white;
  border-radius: 50%;
  padding: 5px;
}
.choices-menu {
  padding-bottom: 0px;
  bottom: 80px;
}
.game-choices-icons-mobile {
  height: 32px;
  width: 32px;
}
.choice-item {
  margin-bottom: 0px;
}
.choice-item-mobile {
  width: 200px;
}
.choices-list {
  padding: 0;
}
.label-choices-mobile {
  text-align: left;
  padding-left: 10px;
}
.computer-player-name {
  color: white;
  font-weight: bold;
}
